:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
}

body {
  font-family: var(--font-family);
}

.post-content {
  font-family: var(--font-family);
  font-size: 1.08rem;
  letter-spacing: 0.05px;
}
